<h1><b>Decision Support System for Credit Approval</b></h1>
<h2>Antonio Dottori</h2>
The objective here is to build a classifier that will say if someone will have good credit.

Importing the libraries we'll need:

In [56]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import impute
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from catboost import CatBoostClassifier
from sklearn.model_selection import cross_val_score

Initially, let's read the files containg the data. Here, we have two switches: <br>

training --> if True, it will run for the train set, and if False, it will run for the test set. To use, you set it first as True and goes to Run All. After that, set it to False and Run All again.<br>
finding_best_parameters --> if True, it will run the steps in which we determine the best fits for each model we used. If false, it will run with the values already determined (which were gotten after running this as True.)

In [57]:
credit_training = pd.read_csv("../files/lesson_1/conjunto_de_treinamento.csv", sep=",")
credit_testing = pd.read_csv("../files/lesson_1/conjunto_de_teste.csv", sep=",")

training = True
finding_best_parameters = False

if training:
    credit = credit_training
else:
    credit = credit_testing

For a quick check if it's loaded, let's call the DataFrame's head().

In [58]:
credit.head()

,id_solicitante,produto_solicitado,dia_vencimento,forma_envio_solicitacao,tipo_endereco,sexo,idade,estado_civil,qtde_dependentes,grau_instrucao,...,possui_telefone_trabalho,codigo_area_telefone_trabalho,meses_no_trabalho,profissao,ocupacao,profissao_companheiro,grau_instrucao_companheiro,local_onde_reside,local_onde_trabalha,inadimplente
0,1,1,10,presencial,1,M,85,2,0,0,...,N,,0,9.0,1.0,0.0,0.0,600.0,600.0,0
1,2,1,25,internet,1,F,38,1,0,0,...,N,,0,2.0,5.0,NaN,NaN,492.0,492.0,0
2,3,1,20,internet,1,F,37,2,0,0,...,N,,0,NaN,NaN,NaN,NaN,450.0,450.0,1
3,4,1,20,internet,1,M,37,1,1,0,...,Y,54,0,9.0,2.0,NaN,NaN,932.0,932.0,1
4,5,7,1,internet,1,F,51,1,3,0,...,N,,0,9.0,5.0,NaN,NaN,440.0,440.0,1

<p>We can also see the transposed DataFrame to take a look at the columns.</p>

In [59]:
credit.T

,0,1,2,3,4,5,6,7,8,9,...,19990,19991,19992,19993,19994,19995,19996,19997,19998,19999
id_solicitante,1,2,3,4,5,6,7,8,9,10,...,19991,19992,19993,19994,19995,19996,19997,19998,19999,20000
produto_solicitado,1,1,1,1,7,1,1,1,2,1,...,1,1,1,1,2,1,1,1,1,2
dia_vencimento,10,25,20,20,1,20,15,5,25,10,...,10,10,5,5,5,10,20,10,5,20
forma_envio_solicitacao,presencial,internet,internet,internet,internet,presencial,presencial,internet,internet,presencial,...,presencial,presencial,internet,internet,presencial,presencial,presencial,internet,internet,presencial
tipo_endereco,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
sexo,M,F,F,M,F,M,F,F,F,M,...,F,M,M,F,M,M,F,F,F,F
idade,85,38,37,37,51,21,64,20,39,44,...,52,48,62,18,23,27,26,63,84,53
estado_civil,2,1,2,1,1,1,4,1,2,2,...,4,2,4,1,2,2,2,2,1,1
qtde_dependentes,0,0,0,1,3,1,2,0,2,2,...,0,2,0,0,0,0,1,0,0,0
grau_instrucao,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
nacionalidade,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
estado_onde_nasceu,CE,SE,BA,RS,BA,CE,SP,ES,GO,RS,...,SP,MG,ES,RJ,BA,MG,CE,BA,PB,MA
estado_onde_reside,CE,SE,BA,RS,BA,CE,SP,ES,GO,RS,...,PR,MG,RJ,RJ,BA,MG,CE,BA,RN,SP
possui_telefone_residencial,Y,Y,Y,Y,Y,Y,Y,Y,Y,N,...,N,N,Y,Y,Y,Y,Y,Y,N,Y
codigo_area_telefone_residencial,107,91,90,54,86,107,16,25,67,,...,,,20,22,84,29,107,86,,5
tipo_residencia,1.0,1.0,5.0,1.0,0.0,5.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,2.0,1.0,5.0,1.0,1.0
meses_na_residencia,12.0,5.0,1.0,1.0,1.0,2.0,0.0,5.0,3.0,15.0,...,0.0,6.0,30.0,6.0,23.0,0.0,3.0,25.0,30.0,11.0
possui_telefone_celular,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
possui_email,0,1,1,1,1,0,1,1,1,0,...,0,0,1,1,0,1,0,1,1,1
renda_mensal_regular,480.0,380.0,600.0,460.0,687.0,382.0,350.0,800.0,1200.0,749.0,...,350.0,1308.0,358.0,405.0,350.0,423.0,350.0,321.0,380.0,300.0
renda_extra,0.0,0.0,0.0,0.0,600.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
possui_cartao_visa,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
possui_cartao_mastercard,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
possui_cartao_diners,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
possui_cartao_amex,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
possui_outros_cartoes,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
qtde_contas_bancarias,1,0,0,0,0,0,1,0,0,1,...,1,1,0,0,1,1,1,0,0,1
qtde_contas_bancarias_especiais,1,0,0,0,0,0,1,0,0,1,...,1,1,0,0,1,1,1,0,0,1
valor_patrimonio_pessoal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
possui_carro,1,0,0,0,1,1,1,0,0,1,...,1,1,0,0,1,1,1,0,0,1
vinculo_formal_com_empresa,N,N,N,Y,Y,Y,N,N,Y,Y,...,N,N,N,N,N,Y,Y,N,N,N
estado_onde_trabalha,,,,RS,BA,CE,,,,RS,...,,,,,,,,,,
possui_telefone_trabalho,N,N,N,Y,N,Y,N,N,Y,N,...,N,N,N,N,N,N,N,N,N,N
codigo_area_telefone_trabalho,,,,54,,107,,,69,,...,,,,,,,,,,
meses_no_trabalho,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
profissao,9.0,2.0,NaN,9.0,9.0,9.0,10.0,NaN,9.0,9.0,...,0.0,0.0,9.0,9.0,0.0,9.0,9.0,9.0,NaN,9.0
ocupacao,1.0,5.0,NaN,2.0,5.0,2.0,1.0,NaN,2.0,2.0,...,1.0,1.0,1.0,2.0,0.0,1.0,2.0,1.0,NaN,5.0
profissao_companheiro,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,9.0,16.0,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0
grau_instrucao_companheiro,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,4.0,4.0,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0
local_onde_reside,600.0,492.0,450.0,932.0,440.0,628.0,190.0,299.0,756.0,960.0,...,872.0,351.0,230.0,289.0,457.0,308.0,639.0,486.0,590.0,132.0
local_onde_trabalha,600.0,492.0,450.0,932.0,440.0,628.0,190.0,299.0,756.0,960.0,...,872.0,351.0,230.0,289.0,457.0,308.0,639.0,486.0,590.0,132.0
inadimplente,0,0,1,1,1,1,1,1,0,1,...,1,1,0,0,1,0,0,0,0,0

<h2><b>Data Describing</b></h2><Br>
Let's look at some information on our data: count, mean and standart deviation.

In [60]:
credit.describe().T

,count,mean,std,min,25%,50%,75%,max
id_solicitante,20000.0,10000.500000,5773.647028,1.0,5000.75,10000.5,15000.25,20000.0
produto_solicitado,20000.0,1.284350,1.008239,1.0,1.00,1.0,1.00,7.0
dia_vencimento,20000.0,13.147250,6.748507,1.0,10.00,10.0,20.00,25.0
tipo_endereco,20000.0,1.006350,0.079435,1.0,1.00,1.0,1.00,2.0
idade,20000.0,42.352500,14.930177,7.0,31.00,40.0,52.00,106.0
estado_civil,20000.0,2.120850,1.332004,0.0,1.00,2.0,2.00,7.0
qtde_dependentes,20000.0,0.666400,1.236725,0.0,0.00,0.0,1.00,53.0
grau_instrucao,20000.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
nacionalidade,20000.0,0.961600,0.202305,0.0,1.00,1.0,1.00,2.0
tipo_residencia,19464.0,1.261303,0.883580,0.0,1.00,1.0,1.00,5.0
meses_na_residencia,18550.0,9.572453,10.649580,0.0,1.00,6.0,15.00,228.0
possui_email,20000.0,0.799200,0.400609,0.0,1.00,1.0,1.00,1.0
renda_mensal_regular,20000.0,957.130937,11353.965001,69.0,360.00,500.0,800.00,959000.0
renda_extra,20000.0,39.096958,1387.428780,0.0,0.00,0.0,0.00,194344.0
possui_cartao_visa,20000.0,0.108900,0.311521,0.0,0.00,0.0,0.00,1.0
possui_cartao_mastercard,20000.0,0.094950,0.293153,0.0,0.00,0.0,0.00,1.0
possui_cartao_diners,20000.0,0.001600,0.039969,0.0,0.00,0.0,0.00,1.0
possui_cartao_amex,20000.0,0.002050,0.045232,0.0,0.00,0.0,0.00,1.0
possui_outros_cartoes,20000.0,0.002250,0.047382,0.0,0.00,0.0,0.00,1.0
qtde_contas_bancarias,20000.0,0.361100,0.481164,0.0,0.00,0.0,1.00,2.0
qtde_contas_bancarias_especiais,20000.0,0.361100,0.481164,0.0,0.00,0.0,1.00,2.0
valor_patrimonio_pessoal,20000.0,2095.614000,44033.436582,0.0,0.00,0.0,0.00,6000000.0
possui_carro,20000.0,0.339050,0.473399,0.0,0.00,0.0,1.00,1.0
meses_no_trabalho,20000.0,0.008900,0.388881,0.0,0.00,0.0,0.00,32.0
profissao,16903.0,8.045081,3.210790,0.0,9.00,9.0,9.00,17.0
ocupacao,17022.0,2.533310,1.532765,0.0,1.00,2.0,4.00,5.0
profissao_companheiro,8486.0,3.708107,5.181241,0.0,0.00,0.0,11.00,17.0
grau_instrucao_companheiro,7140.0,0.288095,0.944339,0.0,0.00,0.0,0.00,5.0
local_onde_reside,20000.0,581.295250,227.369798,105.0,444.00,596.0,728.00,999.0
local_onde_trabalha,20000.0,581.295250,227.369798,105.0,444.00,596.0,728.00,999.0
inadimplente,20000.0,0.500000,0.500013,0.0,0.00,0.5,1.00,1.0

Let's see the correlation matrix to try and extract some useful information.

In [61]:
credit_correlation = credit.corr(method='pearson')
credit_correlation.style.background_gradient(cmap='coolwarm')

C:\Users\dotto\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\io\formats\style.py:1264: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(s.to_numpy()) if vmin is None else vmin
C:\Users\dotto\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\io\formats\style.py:1265: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(s.to_numpy()) if vmax is None else vmax

<h2><b>Data Analysis and Cleaning</b></h2>

In this DataFrame there are columns that are not so useful for our analysis. For this reason, let's remove them.

id --> just an index value; <br>
grau_instrucao --> this column is filled by only one value; <br>
possui_telefone_celular --> only one value on the entire column  <br>
estado_onde_trabalha --> too many blanks <br>
codigo_area_telefone_trabalho --> too many blanks  <br>
meses_no_trabalho --> biggest part is equal to zero  <br>
profissao_companheiro --> too many blanks <br>
grau_instrucao_companheiro --> too many blanks<br>

In [62]:
columns_to_remove = [
    "id_solicitante",
    "grau_instrucao",
    "possui_telefone_celular",
    "estado_onde_trabalha",
    "codigo_area_telefone_trabalho",
    "meses_no_trabalho",
    "profissao_companheiro",
    "grau_instrucao_companheiro"
]

columns_to_keep = [column for column in credit.columns if column not in columns_to_remove]
credit = credit[columns_to_keep]

Now, we'll split the columns into their types. They can be categorical variables, i.e., those that, even though they may be numbers, they are mentions to a category of some kind, or numerical variables. <br>

<h2><b>Categorical Variables</b></h2>

<br>Filtering the "object type" columns gives us a first filter for this classification, but we can also select manually some other columns that we find suitable. Another concept we should have in mind is that the categorical variables may be nominal (i.e., they are in no way related in an order of magnitude, they just represent a category) or ordinal (i.e., they have an order of importance inherited.).

In [63]:
credit.columns[credit.dtypes==object]

Index(['forma_envio_solicitacao', 'sexo', 'estado_onde_nasceu',
       'estado_onde_reside', 'possui_telefone_residencial',
       'codigo_area_telefone_residencial', 'vinculo_formal_com_empresa',
       'possui_telefone_trabalho'],
      dtype='object')

<h3><b>Nominal Variables</b></h3><br>As stated, we will use the filtered columns from the previous step, and add some more that fit into this category.

In [64]:
nominal_categorical_columns = [
    'forma_envio_solicitacao',
    'sexo', 
    'estado_onde_nasceu', 
    'estado_onde_reside', 
    'possui_telefone_residencial', 
    'codigo_area_telefone_residencial', 
    'vinculo_formal_com_empresa', 
    'possui_telefone_trabalho', 
    'produto_solicitado', 
    'dia_vencimento', 
    'tipo_endereco', 
    'estado_civil', 
    'nacionalidade', 
    'tipo_residencia',
    'possui_cartao_visa', 
    'possui_cartao_mastercard', 
    'possui_cartao_diners', 
    'possui_cartao_amex', 
    'possui_outros_cartoes', 
    'possui_email', 
    'possui_carro', 
    'profissao', 
    'ocupacao', 
    'local_onde_reside', 
    'local_onde_trabalha',
]

Let's look at the cardinality, and we will drop the columns that have a great variety, because, as categorical values, they will have a lot of noise attached to them.

In [65]:
credit[nominal_categorical_columns].nunique().sort_values(ascending=False)

local_onde_trabalha                 743
local_onde_reside                   743
codigo_area_telefone_residencial     81
estado_onde_nasceu                   28
estado_onde_reside                   27
profissao                            18
estado_civil                          8
ocupacao                              6
tipo_residencia                       6
dia_vencimento                        6
sexo                                  4
forma_envio_solicitacao               3
produto_solicitado                    3
nacionalidade                         3
tipo_endereco                         2
possui_cartao_visa                    2
possui_cartao_mastercard              2
possui_cartao_diners                  2
possui_cartao_amex                    2
possui_outros_cartoes                 2
possui_email                          2
possui_carro                          2
possui_telefone_trabalho              2
vinculo_formal_com_empresa            2
possui_telefone_residencial           2
dtype: int64

In [66]:
nominal_categorical_columns_to_delete =[
    "local_onde_trabalha",
    "local_onde_reside",
    "codigo_area_telefone_residencial",
    "estado_onde_nasceu",
    "estado_onde_reside",
]

columns_to_keep = [column for column in credit.columns if column not in nominal_categorical_columns_to_delete]
credit = credit[columns_to_keep]

One last thing we need to do is take care of the NaN values in these columns. Let's split the columns in two groups: those that have NaN values (or empties, that we'll replace to NaN), and those that don't have NaN values.

In [67]:
remaining_nominal_categorical_columns = [column for column in nominal_categorical_columns if column not in nominal_categorical_columns_to_delete]

credit = credit.replace("", np.nan)
credit = credit.replace(" ", np.nan)

remaining_nominal_categorical_columns_with_nan = [column for column in remaining_nominal_categorical_columns if credit[column].isnull().any()]
remaining_nominal_categorical_columns_without_nan = [column for column in remaining_nominal_categorical_columns if column not in remaining_nominal_categorical_columns_with_nan]

In [68]:
remaining_nominal_categorical_columns_with_nan

['sexo', 'tipo_residencia', 'profissao', 'ocupacao']

<h4>"sexo" column</h4>

In [69]:
credit["sexo"].unique()

array(['M', 'F', 'N', nan], dtype=object)

In [70]:
credit["sexo"] = credit["sexo"].map({"M":0, "F":1, "N": np.nan})

On these columns that have NaN values, we will transform them on the average of the other numbers.

In [71]:
imputer = impute.SimpleImputer(missing_values=np.nan, strategy="mean")
credit[remaining_nominal_categorical_columns_with_nan] = imputer.fit_transform(credit[remaining_nominal_categorical_columns_with_nan])

Among the columns that don't have NaN values, there are some that have only "yes" and "no" values. Let's turn these into True or False. Finally, for the other categorical columns that were not handled yet, we'll perform an ONE-HOT-ENCODING.

In [72]:
yes_or_no_categorical_columns = [
    "possui_telefone_residencial",
    "vinculo_formal_com_empresa",
    "possui_telefone_trabalho",
]

label_binarizer = preprocessing.LabelBinarizer()

for column in yes_or_no_categorical_columns:
    credit[column] = label_binarizer.fit_transform(credit[column])

In [73]:
columns_to_one_hot_encode = [column for column in remaining_nominal_categorical_columns_without_nan if column not in yes_or_no_categorical_columns] + remaining_nominal_categorical_columns_with_nan

credit = pd.get_dummies(credit, columns=columns_to_one_hot_encode)

<h3><b>Numerical</b></h3><br>All the other columns that were not mentioned yet are numerical columns.

In [74]:
numerical_categorical_columns = [
  'idade',
  'qtde_dependentes', 
  'meses_na_residencia', 
  'renda_mensal_regular',
  'renda_extra', 
  'qtde_contas_bancarias', 
  'qtde_contas_bancarias_especiais',
  'valor_patrimonio_pessoal'
]

Checking for any NaN values here and filling them.

In [75]:
credit[numerical_categorical_columns].isna().any()

idade                              False
qtde_dependentes                   False
meses_na_residencia                 True
renda_mensal_regular               False
renda_extra                        False
qtde_contas_bancarias              False
qtde_contas_bancarias_especiais    False
valor_patrimonio_pessoal           False
dtype: bool

In [76]:
imputer_mean = impute.SimpleImputer(missing_values=np.nan, strategy="mean")
credit[['meses_na_residencia']] = imputer_mean.fit_transform(credit[['meses_na_residencia']])

And for a quick check if there are any NaN values:

In [77]:
credit.isna().any().sum()

0

No more NaN's. Great!

<h1><b>Training</b></h1><br>
Let's go the training! If we're training our model, we need to shuffle the DataFrame.

In [78]:
if training:
    shuffled_credit = credit.sample(frac=1, random_state=12345)

In [79]:
if training:
    x = shuffled_credit.iloc[:, shuffled_credit.columns!='inadimplente'].values
    y = shuffled_credit.iloc[:, shuffled_credit.columns=='inadimplente'].values
else:
    x = credit.iloc[:, credit.columns!='inadimplente'].values

<p>And now, if we're training, we'll divide the DataFrame in a training and a test set. We need to divide into two reasonable sizes, so there is a training set big enough so that the Machine will be able to be  well trained. Also, we need a good test set size so we can see clearly if it's working fine on the predictions. A good ratio should be training:test as 80:20.</p>

In [80]:
if training:
    num_lines = shuffled_credit.shape[0]
    training_size = round(0.8*num_lines)

In [81]:
if training:
    x_training = x[:training_size,:-1]
    y_training = y[:training_size,-1].ravel()

    x_test = x[training_size:,:-1]
    y_test = y[training_size:,-1].ravel()

else:
    x_test = x

Let's begin the training for different regressors. For each one of them, we'll train the set for various input parameters to see which one will give us the smallest error.

<h1><b>CatBoost</b></h1>

In [82]:
if training and finding_best_parameters:
    catBst = CatBoostClassifier()
    catBst.fit(x_training, y_training)

    results = []
    for iterations in range(20, 220, 20):
        for depth in range(2, 14, 2):
            catBst = CatBoostClassifier(depth=depth, iterations=iterations, learning_rate=0.1, verbose=False)
            catBst.fit(x_training, y_training)
            y_test_answer = catBst.predict(x_test)
            results.append((iterations, depth, accuracy_score(y_test, y_test_answer)))
    best_choose = sorted(results, key=lambda i: i[-1])[-1]
    print (best_choose)

#best choose -> (120, 4, 0.59125)

In [83]:
if training:
    catBst = CatBoostClassifier(depth=4, iterations=120, learning_rate=0.1, verbose=False)
    catBst.fit(x_training, y_training)

y_test_answer_cb = y_test_answer = catBst.predict(x_test)

In [84]:
if training:
    print('Acuracia:', accuracy_score(y_test, y_test_answer_cb))

Acuracia: 0.59125

<h1><b>KNN</b></h1>

In [85]:
if training and finding_best_parameters:
    results = []

    for k in range(1,60,2):
        classifier = KNeighborsClassifier(n_neighbors=k, weights='uniform')
        classifier = classifier.fit(x_training, y_training)
        
        y_training_answer = classifier.predict(x_training)
        y_test_answer = classifier.predict(x_test)

        results.append((iterations, depth, accuracy_score(y_test, y_test_answer)))
        best_choose = sorted(results, key=lambda i: i[-1])[-1]
        print (k, (iterations, depth, accuracy_score(y_test, y_test_answer)))

In [86]:
if training:
    classifier = KNeighborsClassifier(n_neighbors=53, weights='uniform')
    classifier = classifier.fit(x_training, y_training)
    
y_test_answer_knn = classifier.predict(x_test)

In [87]:
if training:
    print('Acuracia:', accuracy_score(y_test, y_test_answer_knn))

Acuracia: 0.5415

The accuracy we got here is smaller than the CatBooster's.

<h2><b>Cross Validation</b></h2><br>

Finally, let's perform the Cross Validation for the best performing model, which was CatBooster.

In [88]:
if training:
    scores = cross_val_score(
        catBst,
        x,
        y.ravel(),
        cv=8,
    )

    print (
        'scores =',scores,
        'acurácia média = %6.1f' % (100*sum(scores)/8)
        )

scores = [0.5792 0.6016 0.6072 0.5836 0.5836 0.6008 0.588  0.592 ] acurácia média =   59.2

<h2>Exporting the Results</h2><br>
We got the best result from the CatBoost Classifier, so that's the one we will export.
And with this function we will export our test answers in the kaggle format.

In [89]:
if not training:
    pd.DataFrame(
    {
        'id_solicitante': np.arange(20001, 25001),
        'inadimplente': y_test_answer_cb,
    }
).to_csv('teste_kaggle.csv', index=False)